<div style="margin: 24px;display: block;">
    <div class="<%=foo%>operate">
        <<%=foo%>-operate></<%=foo%>-operate>
    </div>
    <div class="content">
        <div>
            <<%=foo%>-search></<%=foo%>-search>
        </div>

        <div>
            <<%=foo%>-list></<%=foo%>-list>
        </div>
    </div>
</div>